.flex-container {
	display: flex;
	justify-content:space-around;

}
.flex-element {
	flex-grow: 1;
	
}
.flex-element1 {
	flex-grow: 2;
	display: flex;
	justify-content:space-around;
	flex-direction: column;
}
.flex-container2 {
	display: flex;
	justify-content: space-around;

}
.flex-container-bottom {
	display: flex;
	justify-content:space-between;
}

.content {
	display: flex;
	justify-content: space-between;
}
.left-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.center-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}