* {
	box-sizing: border-box;
	font-family: sans-serif;
}
.container{
	width: 1200px;
	margin:0 auto;
}

body {
	color: black;
	background: #e8e9e9;
	/*margin:0;*/
}

.flex-container {
	border-radius: 5px;
	height: 200px;

}
.flex-element {
	background: #fff;
	border-radius: 3px;
	height: 100%;
	width: 24%;
}
.flex-element1 {
	margin-right: 10px;
	border-radius: 3px;
	margin-left: 10px;
	height: 100%;
	
}

.div {
	border-radius: 3px;
	height: 60%;
	width: 100%;
	background-color: #fff;
}
.div1 {
	height: 35%;
	width: 100%;
}
.li {
	display: inline-block;
	margin-top: 10px;
	height: 60px;
	width: 220px;
	background-color: darkgrey;

}
.li:not(:first-child){
	margin-left: 13px;
}
.menu{
	
}
.menu ul{
	padding-left: 0px;
}
.menu ul li{
	display: inline-block;
	background-color: darkgrey;
	border:1px solid #000;
	height: 40px;
	width: 20%;
	text-align: center;
    line-height: 40px;
	font-size: 20px;
	text-transform: uppercase;
}

.menu ul li:not(:first-child){
	margin-left: -5px;
}
.search{
	border: 1px solid #000;
	width: 100%;
	height: 62px;
	background-color: #ccc;
	overflow: hidden;
}
.search .title-search{
	height: 100%;
}
.search .title-search span{
	margin-top: 5px;
	margin-left: 5px;
	display: block;
}
.search div{
	float: left;
}
.input-block input{
	width: 800px;
	height: 40px;
	margin: 10px;
}
.input-block button{
	height: 40px;
	width: 40px;
	text-transform: uppercase;
	font-size: 17px;
}
.search .advanced{
	margin-left: 15px;
}
.search .advanced span{
	display: block;
	margin-top: 32px;
}
.wrap-video {
	width: 100%;
	margin-top: 20px; 
}
.video {
	padding: 2px 5px;
	border: 1px solid black;
	background-color: darkgrey;
	display: inline-block;

}
.flex-container-bottom {
	width: 100%;
	border: 1px solid lightgrey;

}
.flex-container-bottom div {
	width: 23.2%;
	height: 200px;
	background-color: lightgrey;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;

}
.content {
	width: 100%;
	margin-top: 20px;
	height: 660px;
}
.left-content{
	width: 24%;
}
.center-content {
	width: 48%;
	min-height: 200px;
}
.right-content{
	width: 24%;
}
.left-content div {
	width: 100%;
	height: 200px;
	background-color: grey;
	border: 1px solid #000;

}
.center-content .top {
	width: 100%;
	height: 430px;
	background-color: grey;
	border: 1px solid #000;
}
.center-content .bottom{
	width: 100%;
	height: 200px;
	background-color: lightgrey;
	border: 1px solid #000;
}
.right-content div {
	width: 100%;
	height: 200px;
	background-color: grey;
	border: 1px solid #000;
}
.right-content div:first-child{
	background-color: lightgrey;
}